*{
	margin: 0;
	padding: 0;
}
a{
	text-decoration: none;
	color: #575656;
}

.body_gal{
	margin: 0px 0px 0px 0px;
    width: 100%;
    background: white;
    height: 100%; 
    position: absolute;
}
.header{
	border-radius: 10px 10px 0 0;
    /* padding: 0px 0 0 0px; */
    text-align: center;
    background-image: url(image/header1.png);
    background-color: grey;
    margin-top: 20px;
    width: 97%;
    height: 230px;
}
	.header h2{
		background-color: #2f1ca6;
		border-bottom: 2px solid;
		border-color: yellow;
		padding: 14px;
		color: yellow;
	    font-family: serif;
	    font-size: 24pt;
	}
.menu{
    text-align: center;
    background-color: #2f1ca6;
    margin-top: 8px;
    width: 97%;
    height: 37px;
}
	.menu ul {
	  list-style-type: none;
	  margin: 0;
	  padding: 0;
	  overflow: hidden;
	}

	.menu li {
		height: 29px;
	    padding-top: 8px;
	    display: inline-block;

	}

	.menu li a {
	    color: white;
	    text-align: center;
	    padding: 14px 16px;
	    text-decoration: none;
	    font-size: 14pt;
	    font-family: serif;
	}

.c_galeri{
	width: 97%;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
    margin-top: 8px;
    height: 478px;
    border-bottom: 3px solid #2e6fa7;
}

.search{
	width: 90%;
    height: 35px;
    text-align: right;
}
	.search input{
		border-collapse: collapse;
	    width: 250px;
	    height: 30px;
	    padding: 0px 0px 0px 16px;
	    border-radius: 0px;
	}
	#cari{
		border-collapse: collapse;
	    background: #2f1ca6;
	    border: none;
	    height: 34px;
	    width: 75px;
	    color: white;
	}
	.search select{
		height: 34px;
		width: 115px;
	}
	.search table{
		padding-top: 20px;
	}
	.search table, td, th {
  		border: 1px solid #2f1ca6;
		border-collapse: collapse;
	}
	.search th {
  		background: #2f1ca6;
		color: white;
	}
.g_right{
    width: 75%;
    height: 385px;
    padding-top: 15px;
}

.footer{
	width: 97%;
	margin-top: 8px;
	height: 70px;
	background: #2f1ca6;
	border-radius: 0px 0px 10px 10px;
	color: white;
}
	.footer p{
		padding-top: 10px;

	}